RewriteEngine On
RewriteBase /cardhaven/

# Jika bukan file atau folder asli, belokkan ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]