:root {
    --primary-color: #0F3891;      
    --bg-light: #E6EEFF;
    --divider-color: #C7D9FF;
    --text-dark: #000000;
    --text-gray: #888888;
}

body {
    background-color: #000; /* Latar belakang luar sangat gelap */
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 78%;
    height: 93%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    /* max-width: 1000px;
    overflow: hidden; */
    padding: 40px;
}

.form-section {
    flex: 1.2;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-btn {
    width: 60px;
    height: 35px;
    border: 0px solid var(--divider-color);
    border-radius: 8px;
    background: var(--bg-light);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn img {
    width: 20px;
}


.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px 0;
    color: #A0C4FF;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--divider-color);
}

.divider span {
    padding: 0 10px;
    font-size: 0.9rem;
}

.form-group {
    text-align: left;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: 600;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.required {
    color: red;
}

input {
    width: 100%;
    padding: 10px 15px;
    border: 1.5px solid var(--primary-color);
    border-radius: 20px;
    outline: none;
    font-size: 0.85rem;
}

input::placeholder {
    color: #A0A0A0;
}

.error-message {
    display: none;
    color: red;
    font-size: 0.75rem;
    margin-top: 2px;
}

.btn-signup {
    width: 100%;
    padding: 12px;
    background-color: #2D62D3;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-signup:hover {
    background-color: #1A4AB2;
}

.footer-text {
    margin-top: 20px;
    font-size: 0.85rem;
}

.footer-text a {
    color: #2D62D3;
    text-decoration: none;
    font-weight: 600;
}

.terms-text {
    margin-top: 20px;
    font-size: 0.75rem;
    color: #888;
}