*{
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #E6EEFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    box-sizing: border-box;
    width: 77%;
    height: 85%;
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 50px 60px; 
}
.form-box{
    width:100%;padding:0.5rem;margin-top:0.5rem;border:1px solid #0F3891;border-radius:15px
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #A0C4FF;
}